<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Door Alert</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="layout">
      <div class="image-section">
        <img
          src="http://192.168.0.104:11080/endpoint/@scrypted/webhook/public/35/d9b7cb1eb6526969/takePicture"
          alt="Snapshot"
        />
      </div>
      <div class="content-section">
        <div class="status-text-wrapper">
          <div class="status-text">Hey! You’ve got company.</div>
        </div>
        <button id="ack-btn">Dismiss</button>
      </div>
    </div>
    <audio autoplay loop>
      <source
        src="{{ url_for('static', filename='ring.mp3') }}"
        type="audio/mpeg"
      />
    </audio>

    <script>
      document.getElementById("ack-btn").addEventListener("click", () => {
        fetch("/stop", { method: "POST" })
          .then(() => alert("Alert dismissed!"))
          .catch(() => alert("Failed to dismiss alert."));
      });
    </script>
  </body>
</html>
